header{
  text-align : center;
}

.image{
  display : block;
  margin-left : auto;
  margin-right : auto;
  width : 40%;
}

b{
  padding : 20px;
  color : blue;
  font-size : 20px;
}

div{
  margin : 10px;
}

.profile{
  padding : 5px 40px;
}

.clickable{
  text-align : center;
  padding : 10px 20px;
  margin-left : 10px;
  color : black;
  border : 0;
  border-radius : 5px;
}

.clickable:hover{
  cursor : pointer;
}

#one{
  background-color : gray;
}

#one:hover{
  opacity : 0.7;
}

#two{
  background-color : gray;
}

#two:hover{
  opacity : 0.7;
}

@media(min-width : 600px) and (max-width : 990px){
	.image{
		display : block;
		margin-left : auto;
		margin-right : auto;
		width : 30%;
	}
}

@media(min-width : 991px){
	.image{
		display : block;
		margin-left : auto;
		margin-right : auto;
		width : 20%;
	}
}

